{% extends "base.html" %}
{% block title %}Hello, Udacity!{% endblock %}
{% block content %}

<br>
<p><center><h1> Hello, Udacity! </h1></center></p>

<p><center><h3> CS253 - Web Application Engineering</h3><center></p>

<p><center><h2><b> - How to Build a Blog - </b></h2></center><br>
<p> | Using Python | Hosted on Google App Engine | </p>
<p><h1> ..... </h1></p>


<p>Course Link: <a href="http://www.udacity.com/overview/Course/cs253/CourseRev/apr2012" target="_blank">Udacity CS253 <br> Web Application Engineering</a></p><br>

{% endblock %}
